<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Versenyek listája</title>
</head>
<body>
    <h1>Versenyek listája</h1>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Név</th>
            <th>Táv</th>
        </tr>
        <tr th:each="race : ${races}">
            <td th:text="${race.id}"></td>
            <td th:text="${race.name}"></td>
            <td th:text="${race.distance}"></td>
        </tr>
    </table>
</body>
</html>
